<!DOCTYPE html>
<html>
<head>

    <title>ngCarousel Example</title>

    <!-- Dependencies! -->
    <script type="text/javascript" src="js/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="js/vendor/angular-mocks/angular-mocks.js"></script>
    <script type="text/javascript" src="js/vendor/ng-carousel/Carousel.js"></script>

    <!-- Application! -->
    <script type="text/javascript" src="js/Default.js"></script>
    <script type="text/javascript" src="js/controllers/PicturesController.js"></script>

    <!-- Prettify! -->
    <link rel="stylesheet" type="text/css" href="css/Default.css" />

</head>
<body ng-app="carouselApp" ng-controller="PicturesController">

    <carousel class="carousel" ng-model="pictures"></carousel>

    <a href="#" ng-click="removeOneSet()">Remove 1 Picture Set</a>

    {{ pictures.length }}

</body>
</html>