* {
    margin: 0;
    padding: 0;
}

body {
    margin: 100px 450px;
    text-align: center;
    width: 100%;
}

carousel section {
            animation: revolve 120s infinite linear;
         -o-animation: revolve 120s infinite linear;
       -moz-animation: revolve 120s infinite linear;
    -webkit-animation: revolve 120s infinite linear;
}

@keyframes revolve {
    0% { transform: translateZ(-2000px) rotateY(0deg) }
    100% { transform: translateZ(-2000px) rotateY(360deg); }
}

@-o-keyframes revolve {
    0% { transform: translateZ(-2000px) rotateY(0deg); }
    100% { transform: translateZ(-2000px) rotateY(360deg); }
}

@-moz-keyframes revolve {
    0% { transform: translateZ(-2000px) rotateY(0deg); }
    100% { transform: translateZ(-2000px) rotateY(360deg); }
}

@-webkit-keyframes revolve {
    0% { transform: translateZ(-2000px) rotateY(0deg); }
    100% { transform: translateZ(-2000px) rotateY(360deg); }
}

carousel section figure div {
    height: 30%;
    margin-bottom: 5%;
    background-size: contain;
    background-position: center center;
    background-color: white;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .25);
}

carousel section figure div:last-of-type {
    margin-bottom: 0;
}