.carousel.base {
    margin: auto;
    display: block;
    position: relative;
}

.carousel.base div.container {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
}

.carousel.base div.container figure {
    display: block;
    position: absolute;
}

.carousel.base div.container figure div {
    height: 100%;
    margin-bottom: 5%;
    background-size: cover;
    background-position: center center;
    background-color: white;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

/*section.carousel section {*/
    /*transform: translateZ(-2000px) rotateY(90deg) !important;*/
            /*animation: revolve 30s infinite linear;*/
         /*-o-animation: revolve 30s infinite linear;*/
       /*-moz-animation: revolve 30s infinite linear;*/
    /*-webkit-animation: revolve 30s infinite linear;*/
/*}*/

/*@keyframes revolve {*/
    /*0%   { transform: translateZ(-2000px) rotateY(0deg) }*/
    /*100% { transform: translateZ(-2000px) rotateY(360deg); }*/
/*}*/

/*@-o-keyframes revolve {*/
    /*0%   { transform: translateZ(-2000px) rotateY(0deg); }*/
    /*100% { transform: translateZ(-2000px) rotateY(360deg); }*/
/*}*/

/*@-moz-keyframes revolve {*/
    /*0%   { transform: translateZ(-2000px) rotateY(0deg); }*/
    /*100% { transform: translateZ(-2000px) rotateY(360deg); }*/
/*}*/

/*@-webkit-keyframes revolve {*/
    /*0%   { transform: translateZ(-2000px) rotateY(0deg); }*/
    /*100% { transform: translateZ(-2000px) rotateY(360deg); }*/
/*}*/